@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap');

body {
  height: 100%;
  font-family: "Special Elite", system-ui;
  margin: 0;
  width: 100%;
}

h3, h4, h5, h6, p, span, button {
  font-family: "Special Elite", system-ui !important;
}

.MuiListItemText-secondary {
  font-size: 13px;
}